#scheduleBar {
    margin-left: auto;
    margin-right: auto;
    font-size: 130%;
    font-weight: 500;
    margin: 5px;
    margin-right: 20px;
    /* note to maintainers: if the general user-select is standard by now,
       please remove the vendor ones and replace with "user-select:none;" */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#scheduleBar:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}
#crnList {
    font-size: 90%;
    float: right;
}
#switch {
    float: left;
}
.scheduleswitch {
    padding:5px;
    cursor:pointer;
}
.scheduleswitch.disabled {
    color: #999;
    cursor: default;
}

#scheduleContent {
    position: relative;
    height: 600px;
    margin: 10px;
    box-sizing: border-box;
}

#scheduleContainer {
    height: 100%;
    position: absolute;
    left: 100px;
    right: 0;
}

#schedulesList {
    width: 100px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    overflow-y: scroll;
}
schedule-preview:nth-child(2n) {
    background-color: #efefef;
}
schedule-preview:nth-child(2n+1) {
    background-color: #f2d9d9
}
schedule-preview {
    width: 100px;
    height: 100px;
    display: list-item;
    list-style: none;
}

schedule-preview schedule-view {
    margin: 0;
}